@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}
.hours-bg-color{
    background-image: linear-gradient(rgb(247, 98, 72),rgb(255, 187, 60));
    border: none;
    padding: 6px 25px;
}
.text-font-icon{
    color:rgb(255, 187, 60);
}